.itemInCart {
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: thin solid #777;
  }
  .itemInCart img {
    height: 100px;
  }
  .itemInCart * {
    margin-left: 30px;
    margin-right: 30px;
  }