@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
    

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 95%;
    color: black;
    align-items: center;
    z-index: 1;
    
    
    
}
.logo{
    font-size: 30px;
    margin-left: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.cartandmenu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-family: 'Open Sans Condensed', sans-serif;
    
    
}
.menu{
    height: 20px;
    width: 30px;
}

