@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
.boxcoverHide {
    
    border: solid red 1px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    margin-left: 100vw;
}

.boxcoverShow{
    border: solid red 1px;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    animation: slide .5s;
}
@keyframes slide{
    from{
        margin-left: 100vw;
    }
    to{
        margin-left: 0vw;
    }
}

.box1 {
    background-color: #747474;
    opacity:.9;
    width: 66vw;
     
}
.box2 {
    
    display: flex;
    flex-direction: column;
    
    border: solid black 1px;
    width: 34vw;
    margin-right: 0px;
    background-color: white;
}
.site-nav_link {
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
letter-spacing: .0125rem;
font-style: normal;
text-transform: none;
font-size: 30px;
letter-spacing: 0.075rem;
text-transform: uppercase;
}
a {
    color: black;
    text-decoration: none;
    background: transparent;}